<title>{{ metas.title }}</title>
<meta name="title" content="{{ metas.title }}" />
<meta name="description" content="{{ metas.description }}" />
<meta name="application-name" content="{{ metas.application_name }}" />

<meta property="og:type" content="{{ metas.og_type }}" />
<meta property="og:title" content="{{ metas.og_title }}" />
<meta property="og:description" content="{{ metas.og_description }}" />
<meta property="og:image" content="{{ metas.og_image }}" />
<meta property="og:url" content="{{ metas.og_url }}" />
<meta property="og:site_name" content="{{ metas.og_site }}" />

<meta name="twitter:card" content="{{ metas.twitter_card }}" />
<meta name="twitter:title" content="{{ metas.twitter_title }}" />
<meta name="twitter:description" content="{{ metas.twitter_description }}" />
<meta name='twitter:image' content='{{ metas.twitter_image }}' />
<meta name="twitter:url" content="{{ metas.twitter_url }}" />
<meta name="twitter:site" content="{{ metas.twitter_site }}" />
