<section class="Newsletter {{ type }} module">
    <div class="Newsletter-container">
        <div class="Newsletter-text">
            <h3 class="t-h3">{{ title }}</h3>
            <p>{{ description }}</p>
        </div>
        <form class="Newsletter-form">
            <input class="Newsletter-formInput vc-input" placeholder="{{ placeholder }}" type="text" name="">
            <input class="Newsletter-formSubmit vc-input" type="submit" value="Suscribirme">
            <div class="Newsletter-formCheck">
                <input class="Newsletter-formCheck-input" type="checkbox">
                <span class="Newsletter-formCheck-terms">He leído las <a href="{{ link }}">condiciones</a> y las acepto.</span>
            </div>
        </form>
    </div>
</section>
